<!-- the style of these web page-->
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px;
        padding: 0;
        background-image: url(images/background.jpg);
    }

    header {
        background-color: #a96472ed;
        color: white;
        padding: 20px;
    }

    nav{
        display: flex;
        align-items: center;

    }
    .logo {
        height:50px;
        width: 50px;
        margin-right: 10px;
       
    }
    

    h3 {
        margin: 0;
        font-size: 35px;
        font-weight: bold;

    }
    nav a {
        color: white;
        text-decoration: none;
        margin: 10px;
        font-weight: bold;
        transition: color 0.3s;
    }
    nav a:hover {
        color:#61dafb;
    }
    .header-bottom {
        background-color: #333;
        padding: 10px 0;
    }
    .header-bottom nav a {
        margin: 0 15px;
        font-size: 16px;
    }
    main {
        padding: 20px;
        background-color: white;
        margin: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }
    footer {
        margin-top: 330px;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f0f2f7;
        color: rgb(153, 124, 124);
        padding: 20;
        border-top: 1px solid #dee2e6;

    }
    #footer-log img {

        max-width: 150px;
        height: auto;
        margin-left: 100px;
    }
    #contact-us {
        margin-left: 40px;
    
    }
    small {
        margin-bottom: 90px;
        color: #6c757d;
    }
    #contact-us h4 {
        margin: 10px 0;
        color: #343a40;
        text-decoration:underline;
    }
    #contact-us p{
        margin: 5px 0;
        color: #495057;
    }
    #contact-us a {
        color: #007bff;
        text-decoration: none;
    }
  



</style>